@model  LanzhouBeefNoodles.Models.Feedback
@{
    ViewData["Title"] = "Index";
}

@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers

<h1>评价</h1>

<form asp-action="Index" method="post" role="form"  >
    <div asp-validation-summary="All" class="text-danger"></div>
    <div>
        <label asp-for="Name" >姓名</label>
        <div>
            <input asp-for="Name" />
            <span asp-validation-for="Name" class="text-danger"></span>
            <div asp-validation-for="Name" class="text-danger"></div>

        </div>

    </div>
    <div>
        <label asp-for="Email">Email</label>
        <div>
            <input asp-for="Email" />
            <span asp-validation-for="Email"></span>
            <div asp-validation-for="Email" class="text-danger"></div>

        </div>
    </div>
    <div>
        <label asp-for="Message">Message</label>
        <div>
            <input asp-for="Message" />
            <span asp-validation-for="Message"></span>
            <div asp-validation-for="Message" class="text-danger"></div>

        </div>
    </div>
    <div>
        <div>
            <input type="submit" value="提交意见" />
        </div>
    </div>


</form>
